.admin-container {
    display: flex;
}

.conteudo-admin {
    padding: 25px 40px 45px 40px;
    flex: 1;
}

.admin-lista-container {
    margin: 45px 0;
}

@media(max-width: 768px) {
    .admin-container {
        flex-direction: column;
    }
}