.container-paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.item-paginacao {
    width: 40px;
    height: 40px;
    background: #E1E1E1;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;

    &.active {
        background: #407BFF;
    }
}

.paginacao-anterior {
    transform: rotate(-180deg);
    margin-right: 25px;
}

.paginacao-proximo {
    margin-left: 15px;
    cursor: pointer;
}

.pagina-ativa {
    cursor: pointer;
    color: #407BFF;
}

.pagina-inativa {
    color: #e1e1e1;
    pointer-events: none;
}