.card-produto {
    width: 245px;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.info-produto {
    border-top: 1px solid #E1E1E1;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.nome-produto {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

.preco-produto-container {
    margin-top: 25px;
    display: flex;
}

.moeda {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;   
    color: #9E9E9E;
}

.preco-produto {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #407BFF;
    margin-left: 10px;
}