.card-produto {
    padding: 20px 20px 30px 20px;
    text-align: center;

    .preco-produto-container {
        margin-top: 10px;
    }
}

.info-produto {
    border-top: 1px solid #E1E1E1;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.nome-produto {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.card-produto .preco-produto {
    font-size: 28px;
}

.imagem-card-produto {
    width: 160px;
    height: 160px;
}