.admin-card-produto {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .moeda {
        font-size: 14px;
    }

    .preco-produto {
        font-size: 24px;
    }
}

.admin-imagem-card-produto {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
}

.conteudo-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-left: 30px;
}

.btn-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.admin-nome-produto-card {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

@media(max-width: 768px) {
    .conteudo-card {
        margin-left: 10px;
    }
}

@media(max-width: 576px) {
    .admin-card-produto {
        display: flex;
        flex-direction: column;
    }

    .conteudo-card {
        width: 100%;
        padding: 10px;
    }

    .btn-container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px;
    }

    .btn-produto {
        width: 135px !important;
        margin: 0px !important;
    }

    .borda-imagem {
        border-bottom: 1px solid #cecece;
    }
}