.form-base-admin {
    padding: 50px 45px 50px 45px;
    border-radius: 20px;
}

.titulo-form-base {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
}

.botoes-form-base {
    margin-top: 70px;
    text-align: right;
}